/* Inter Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Miama cdn font */
@import url('https://fonts.cdnfonts.com/css/miama');



/* Common styles */
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color :#E6533C;
    --secondary-color:#FFFFFF80;
}
.font-inter{
    font-family: "Inter", sans-serif;
}


.font-miama{
    font-family: 'Miama', sans-serif;
                                                
}


.max-width{
    max-width: 1440px;
    margin: 0 auto;
}









/* Header */

.header{
    /* background: linear-gradient(180deg, #000000 0%, rgba(119, 119, 119, 0.00) 100%); */
    background: linear-gradient(180.00deg,rgba(17, 17, 17, 0.719),rgba(66, 66, 66, 0.326) 100%);

}


/* nav */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav-title{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: var(--primary-color);
}

#nav-bars{
    display: none;
}

.nav > ul{
    display: flex;
    gap: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 35px;
    padding: 3px;
    
}

.nav > ul > li{
    list-style: none;
    padding:10px 25px;
}

.nav > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    
}

.nav > ul > li:first-child{
    background-color: var(--primary-color);

    border-radius: 20px;
}







@media screen and (max-width:576px) {

    /* Navbar */
    .nav{
        padding: 20px;
    }
    #nav-options{
        display: none;
    }

    #nav-bars{
        display: block;
        width: 30px;
    }
    
    
}