/* Inter Google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Miama cdn font */
@import url('https://fonts.cdnfonts.com/css/miama');



/* Common styles */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #E6533C;
    --secondary-color: #FFFFFF80;
}

.font-inter {
    font-family: "Inter", sans-serif;
}


.font-miama {
    font-family: 'Miama', sans-serif;

}


.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: .2s;
}

.btn-primary:hover {
    background-color: transparent;
    border: 1px solid var(--secondary-color);

}

.btn-secondary {
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid var(--secondary-color);
    transition: .2s;
    background-color: transparent;
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

}










/* Header */

.header {
    /* background: linear-gradient(180deg, #000000 0%, rgba(119, 119, 119, 0.00) 100%); */
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(54, 52, 56) 100%);

}


/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav-title {
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: var(--primary-color);
}

#nav-bars {
    display: none;
}

.nav>ul {
    display: flex;
    gap: 30px;
    border: 1px solid var(--secondary-color);
    border-radius: 35px;
    padding: 3px;

}

.nav>ul>li {
    list-style: none;
    padding: 10px 25px;
}

.nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;

}

.nav>ul>li:first-child {
    background-color: var(--primary-color);

    border-radius: 20px;
}


/* Banner*/

.banner {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;

}

.shape {
    font-size: 100px;
    font-weight: 500;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.banner-btn {
    display: flex;
    gap: 30px;
}

.banner-right {
    position: relative;

}

.banner-card-1 {
    position: absolute;
    top: 140px;
    right: -90px;
    color: white;
    padding: 15px 30px;
    border: 1px solid #5f5a5a60;
    border-radius: 8px;
    background-color: #4d4a4a60;
    backdrop-filter: blur(5px);
}

.banner-card-1-title {
    font-size: 40px;
    font-weight: 900;
}

.banner-card-1-description {
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-color);
}

.banner-card-2 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.banner-card-2 {
    position: absolute;
    right: 250px;
    bottom: 90px;
    color: white;
    padding: 20px 30px;
    border: 1px solid #5f5a5a60;
    border-radius: 8px;
    background-color: #4d4a4a60;
    backdrop-filter: blur(5px);
}

.banner-card-2>img {
    color: var(--primary-color);
    width: 40px;
}

.banner-card-2>div {
    min-width: 90px;
}

.banner-card-2-title {
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.banner-card-2-description {
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-color);
}

/* Change Your habits */
.habits {
    background-color: black;
}

.habits-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.habits-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.habits-title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding-top: 80px;
}

.habits-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 80px;
}

.habits-card div>img {
    border-radius: 50%;
}

.habits-card-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.habits-card-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: center;
}


/* Run an Extra Mile */

.extra-mile {
    background-color: black;
    padding: 100px;
}

.extra-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: #222;
    padding: 50px;
    box-shadow: 5px 5px 20px rgb(36, 35, 35);
}

.extra-card-text-container {
    flex: 1;
}

.extra-card-img-container {
    width: 50%;

}

.extra-card-img-container img {
    width: 100%;
    border-radius: 18px;
}

.extra-card div>h3 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin-bottom: 40px;

}

.extra-card div>p {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 50px;

}

/* Meet Out team */
.team {
    background-color: black;

    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.team-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    gap: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 30px;
}

.team-title {
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.team-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 50px;
}

.team-group>div {
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.team-group div>img {
    width: 100%;
    border-radius: 20px;
}

/* Footer */
.footer {
    background: rgb(12, 11, 11);
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer-left>h2 {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.footer-left>p {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    max-width: 450px;
}

.footer h4 {
    font-size: 32px;
    font-weight: 700;
    color: white;
}

li {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 23px;
    font-weight: 400;
}

.footer-container>div {
    display: grid;
    grid-template-columns: repeat(3, 50% 25% 25%);
}


#line {
    margin-top: 60px;
    border: 1px solid rgba(90, 83, 83, 0.486);
    
}

.footer-container>p {
    color: #FFFFFF80;
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width:576px) {

    /* Navbar */
    .nav {
        padding: 20px;
    }

    #nav-options {
        display: none;
    }

    #nav-bars {
        display: block;
        width: 30px;
    }

    /* banner */
    .banner {
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .banner-title {
        font-size: 50px;
    }

    .banner-right>img {
        width: 100%;
    }

    .banner-card-1 {
        right: 0px;
        top: 190px;
    }

    .banner-card-1-title {
        font-size: 18px;
    }

    .banner-card-2 {
        right: auto;
        left: 0;
        bottom: 110px;
    }

    .banner-card-2-title {
        font-size: 18px;
    }

    .btn-primary {
        padding: 8px 18px;
    }

    .btn-secondary {
        padding: 8px 18px;

    }

    /* Change Your Habits */

    .habits-container {
        padding: 20px;
    }

    .habits-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

    }

    .habits-title {
        font-size: 40px;

    }



    /* Run an extra mile easily */
    .extra-mile {
        padding: 20px;
    }

    .extra-card {
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }

    .extra-card-text-container {
        display: flex;
        flex-direction: column;
    }

    .extra-card-img-container {
        width: 100%;
    }

    .extra-card div>h3 {
        font-size: 48px;
        font-weight: 900;
        color: white;
        margin-bottom: 40px;
    }

    .extra-card div>h3 {
        font-size: 38px;
    }


    /* Meet Out team */

    .team-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    /* Footer */
    .footer-container>div {
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    #line{
        width: 95%;
        margin: 0 auto;
    }

}